body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgba(91, 43, 167, 0.835);
  color: #fff;
}

.menu > a{
  color: #fff;
  margin: 0.5em;
}
